<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />
                <h4 class="ml-2 card-title">Registro</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="formRegister" (ngSubmit)="saveRegister()">
                  <div class="row">
                    <div class="col-sm-6 col-lg-12">
                      <div class="input-group"
                        [ngClass]="{'has-danger' : (formRegister.get('nombre').invalid && formRegister.get('nombre').touched)}">
                        <input class="form-control" formControlName="nombre" placeholder="Nombre" type="text" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-single-02"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-12">
                      <div class="input-group"
                        [ngClass]="{'has-danger' : (formRegister.get('email').invalid && formRegister.get('email').touched)}">
                        <input class="form-control" formControlName="email" placeholder="Correo electronico"
                          type="text" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-email-85"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-12">
                      <div class="input-group"
                        [ngClass]="{'has-danger' : (formRegister.get('usuario').invalid && formRegister.get('usuario').touched)}">
                        <input class="form-control" formControlName="usuario" placeholder="Usuario" type="text" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-bulb-63"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-12">
                      <div class="input-group"
                        [ngClass]="{'has-danger' : (formRegister.get('password').invalid && formRegister.get('password').touched)}">
                        <input class="form-control" formControlName="password" placeholder="Contraseña"
                          type="password" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-lock-circle"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-12">
                      <div class="form-group input-group"
                        [ngClass]="{'has-danger' : (formRegister.get('repeatPassword').invalid && formRegister.get('repeatPassword').touched)}">
                        <input class="form-control" formControlName="repeatPassword" placeholder="Repetir contraseña"
                          type="password" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-lock-circle"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-sm-6 col-lg-12">
                      <div class="form-group has-danger">
                        <input class="form-control " type="email" value="Error Input" />
                      </div>
                    </div> -->
                  </div>
                </form>
              </div>
              <div class="card-footer d-flex justify-content-center">
                <button class="btn btn-danger mr-1">Registrarme</button>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
      </div>
    </div>
  </div>
</div>